<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>

    <!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="/"> Immedi - Aid</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <% if (title == "Home"){ %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
      </li>

      <% if (title == "About") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
      </li>

      <% if (title == "Books") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/book-list"><i class="fas fa-book"></i> Aid Providers </a>
        </li>

     

      <% if (title == "Contact") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact Us </a>
      </li>

        
         
        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>



  </div>
</nav>
<img src="/Assets/images/immediaid.jpg" alt="web app logo">

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Add an Aid Provider</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameField">Aid Provider Name</label>
                    <input type="text" class="form-control"
                    id="nameField"
                    placeholder="Enter the Aid Provider Name"
                    name="providerName" required>
                </div>

                <div class="form-group">
                    <label for="aidField">Aid Type</label>
                    <input type="text" class="form-control"
                    id="numberField"
                    placeholder="Enter the Aid Type"
                    name="providerAid" required>
                </div>

                <div class="form-group">
                    <label for="locationField">Location</label>
                    <input type="text" class="form-control"
                    id="emailaddressField"
                    placeholder="Enter your location"
                    name="providerLocation" required>
                </div>

               

               
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-9 navbar-text">&copy; Copyrights Reserved, 2022.</h6>
    </nav>
  </footer>
  <img src="/Assets/images/incinque.png" alt="team logo">
<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>