
<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1>About Me</h1>
      <ul>
        <li>I am an Egyptian citizen, and a permanent resident of Hamilton, Ontario, Canada.</li>
        <li>I have been working as an Electrical Engineer for 5 years and now I am a “Health Informatics” student at Centennial College.</li>
        <li>I hold other two degrees, a “Computer Programmer” diploma from Algonquin college, as well as Internet applications and web development diploma from Loyalist college.</li>
        <li>I chose to further study Health Informatics amid the COVID19 pandemic seeing how such a circumstance got the healthcare management industry booming including its software applications, business intelligence, data science as well as data analytics.
      </li>
      </ul>
      
    </div>
  </main>
  
<%- include Partials/bottom_nav.ejs %>  

<%- include Partials/footer.ejs %>
  




