
<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1>About Immedi-Aid</h1>
      <ul>
        <li>inCinque is a software solutions team dedicated to building healthcare related web applications.</li>
        <li>The name of this web application is Immedi-Aid, standing for immediate aid.</li>
        <li>The idea behind the application is that any individual who faces a situation in which they or any other individual in their proximity needs First Aid or CPR, they can access the application and search for the nearest individual with CPR certification or first aid training, as it might happen they are closer and can arrive earlier than the paramedics.</li>
        <li>The aid seeker enters their location, and the application performs algorithms to identify the closest aid provider. This is acheived using a third party API like Google Maps API. This might be beyond our technical cabaility for the first release, hence we replaced that feature with the capability of manually updating the address.
      </li>
      </ul>
      
    </div>
  </main>
  
<%- include Partials/bottom_nav.ejs %>  

<%- include Partials/footer.ejs %>
  




