<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1>Contacts Us Via the following</h1>
      <ul>
         

 
    <li>LinkedIn Account : <a href ="https://ca.linkedin.com/in/eradwan"> https://ca.linkedin.com/in/eradwan </a></li>

    <li>GitHub Account: <a href="https://github.com/Enas-Abdelhamid/immedi-aid-web-app">
    https://github.com/Enas-Abdelhamid/immedi-aid-web-app</a> </li>

    <li>YouTube Channel: <a href ="https://www.youtube.com/channel/UC1-T7AhzBiE7bYu1zRX3IEw"> 
    https://www.youtube.com/channel/UC1-T7AhzBiE7bYu1zRX3IEw</a> </li>



      </ul>
      
    </div>
  </main>
  
<%- include Partials/bottom_nav.ejs %>  

<%- include Partials/footer.ejs %>
  





      
  




