<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1>Accomplished Projects</h1>
      <ul>
         

 
    <li>Healthcare Management Web application of PPE inventory as an alarm of shortage in supplies amid
COVID-19 situation, using Java EE with implementation of MVC architecture and using Java servlets and Apache Tomcat Servlet Container as well as MySQL workbench for database implementation. The software system is also structured using some design patterns like the Filter & Adapter patterns.</li>

<li>Second implementation of the abovementioned project using Python & Flask
</li>

<li>Banking Console app implemented using C# with .Net Framework
</li>

<li>Mobile Application of Daily Newsfeed with BBC News API
</li>

<li>Complete database as backend functionality of healthcare billing system including an insurance calculator, implemented with PL/SQL on Oracle
</li>

      </ul>
      
    </div>
  </main>
  
<%- include Partials/bottom_nav.ejs %>  

<%- include Partials/footer.ejs %>
  





      
  




