<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1>Available Services</h1>
      <ul>
         

 
    <li>Agile SDLC with SCRUM.</li>

<li>Database Design & Implementation
</li>

<li>C#.Net & Java Back-End Development
</li>



      </ul>
      
    </div>
  </main>
  
<%- include Partials/bottom_nav.ejs %>  

<%- include Partials/footer.ejs %>
  





      
  




